Repository brndnmtthws/rust-action-rustup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,cjs,ts}": "eslint --fix",
  "*.{md,html,css,json,yaml,yml}": "prettier --write"
}

init
  .eslintignore
  .eslintrc.cjs
  .eslintrc.json
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  .lintstagedrc.json
  CODEOWNERS
  LICENSE
  LICENSE.md
  README.md
  __tests__/main.test.ts
  action.yml
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/sourcemap-register.js
  jest.config.cjs
  package-lock.json
  package.json
  src/main.ts
  src/wait.ts
  tests/main.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

wip
  .prettierrc.json
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: eslint --fix, prettier --write

wip
  src/main.ts
Due: eslint --fix

wip
  dist/index.js
  dist/index.js.map
  src/main.ts
  tsconfig.json
Due: eslint --fix, prettier --write

wip
  .github/workflows/test.yml
  dist/index.js
  dist/index.js.map
  package.json
  src/main.ts
Due: eslint --fix, prettier --write

wip
  .github/workflows/test.yml
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: eslint --fix, prettier --write

Initial commit
  .eslintignore
  .eslintrc.cjs
  .gitattributes
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/build-and-test.yml
  .github/workflows/check-dist.yml
  .github/workflows/codeql-analysis.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  LICENSE.md
  README.md
  action.yml
  dist/index.mjs
  dist/index.mjs.map
  dist/licenses.txt
  dist/sourcemap-register.cjs
  jest.config.cjs
  package-lock.json
  package.json
  src/main.mts
  tests/main.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Add this magic
  .github/workflows/release-new-action-version.yml
Due: prettier --write

Remove that
  .github/workflows/release-new-action-version.yml
Due: prettier --write

Refactor grouping, add import eslint plugin.
  .eslintrc.cjs
  dist/index.mjs
  dist/index.mjs.map
  package-lock.json
  package.json
  src/main.mts
Due: eslint --fix, prettier --write

feat: Add toolchain, rustc outputs
  .eslintrc.cjs
  .github/workflows/check-dist.yml
  .husky/pre-commit
  action.yml
  dist/index.mjs
  dist/index.mjs.map
  package-lock.json
  package.json
  src/main.mts
Due: eslint --fix, prettier --write

Add outputs to readme
  README.md
Due: prettier --write

Group dependabot updates.
  .github/dependabot.yml
Due: prettier --write

Fix these guys
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Fix tsconfig
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Update dist
  dist/index.mjs
  dist/index.mjs.map
Due: none

Bump deps
  dist/index.mjs.map
  package-lock.json
  package.json
Due: prettier --write

npm audit fix
  dist/index.mjs
  dist/index.mjs.map
  package-lock.json
Due: prettier --write

Node 20.x
  .github/workflows/build-and-test.yml
  .github/workflows/check-dist.yml
  action.yml
  package-lock.json
  package.json
Due: prettier --write

Fix lockfile
  package-lock.json
Due: prettier --write

Bump version
  package.json
Due: prettier --write

Bump version
  package-lock.json
Due: prettier --write

Update build
  dist/index.mjs
  dist/index.mjs.map
Due: none

Bump deps
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write
